@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  max-width: 100%;
}

.header,
.navbar {
  background: #fffbef;
}

.navbar-brand {
  cursor: pointer;
}

/* styles.css */
.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: black; /* Set default text color */
  transition: color 0.1s ease;
}

.navbar-nav .nav-link:hover {
  color: blue;
}

.navbar-nav .sign-in {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #121116;
  cursor: pointer;
}

.navbar-nav .sign-up {
  width: 110px;
  height: 44px;
  border-radius: 4px;
  background: #7557ff;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-left: 10px;
}

.title {
  width: 470px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 70px;
  line-height: 70px;
  color: #121116;
}

.text {
  width: 470px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #605d6c;
}

.get-started-btn {
  width: 174px;
  background: #7557ff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  gap: 10px;
  padding: 15px 35px;
  color: #ffffff;
  border-radius: 6px;
  margin-bottom: 30px;
}

.image-container {
  margin: 50px auto;
}

.hinh {
  max-width: 100%;
}

.service-box {
  width: 470px;
  margin: 0 auto;
}

.service-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
}

.service-para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.box {
  box-shadow: 0 20px 70px 0 rgba(18, 17, 22, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 12px;
}

.box-image {
  margin: 50px 0;
}

.box-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #121116;
}

.box-text {
  width: 330px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #605d6c;
  margin-bottom: 50px;
}
